## Convert int in cols with NaN

In [ ]:
import pandas as pd

non_denommes = {
    "code": ['C11','C22','C33','C44','C55','C66']
    ,"date_demande": ['01/01/2021', '01/01/2021', '01/01/2021', '01/01/2021', '01/01/2021', '01/01/2021']
    ,"reponse_sfac": ["Accord", "Accord", "Entree LC", "Sortie LC", "Cloture", "Accord"]
    ,"date_reponse": ['22/02/2021', '22/02/2021', '22/02/2021', '22/02/2021', '22/02/2021', '22/02/2021']
}
denommes = {
    "code": ['C22','C33']
    ,"date_demande": ['15/01/2021', '16/01/2021']
    ,"reponse_sfac": ["Accord", "Refus"]
    ,"date_reponse": ['30/02/2021', '30/02/2021']
    ,"montant_accorde": [15000, 0]
}

df_nondenommes = pd.DataFrame(non_denommes)
df_denommes = pd.DataFrame(denommes)

donnees_sfac = df_nondenommes.merge(df_denommes, on='code', how='left')
donnees_sfac.columns = ['code_client', 'date_dem_ND', 'reponse_sfac_ND', 'date_rep_ND', 
                        'date_demande_D', 'reponse_sfac_D', 'date_rep_D', 'montant_accorde_D']
donnees_sfac

In [4]:
# https://stackoverflow.com/questions/21287624/convert-pandas-column-containing-nans-to-dtype-int
donnees_sfac['montant_accorde_D'] = donnees_sfac['montant_accorde_D'].astype(pd.Int64Dtype())
donnees_sfac

,code_client,date_dem_ND,reponse_sfac_ND,date_rep_ND,date_demande_D,reponse_sfac_D,date_rep_D,montant_accorde_D
0,C11,01/01/2021,Accord,22/02/2021,NaN,NaN,NaN,<NA>
1,C22,01/01/2021,Accord,22/02/2021,15/01/2021,Accord,30/02/2021,15000
2,C33,01/01/2021,Entree LC,22/02/2021,16/01/2021,Refus,30/02/2021,0
3,C44,01/01/2021,Sortie LC,22/02/2021,NaN,NaN,NaN,<NA>
4,C55,01/01/2021,Cloture,22/02/2021,NaN,NaN,NaN,<NA>
5,C66,01/01/2021,Accord,22/02/2021,NaN,NaN,NaN,<NA>

## Generate Fake Data

In [8]:
from mimesis import Person
from mimesis import locales


person = Person(locales.FR)
persons = [person.full_name(), person.age()]

def create_persons(num=10):
    persons = [{"name": person.full_name(),"age": person.age()} for x in range(num)]
    return persons

df = pd.DataFrame(create_persons(3))
df = df.style.hide_index()
df

## TODO Series actions

In [ ]:
# TODO
# Calculate sum of column. Transform into a Series
# for Numpy operations
import numpy as np

age = df['age']
np.sum(age)